<header class="flex justify-between align-middle p-4 bg-primarylight">
  <h1 class="text-4xl font-semibold text-lightgrey">{{ title }}</h1>
  <button
    (click)="getCatFacts()"
    [disabled]="buttonDisabled"
    class="text-lg w-auto font-medium rounded-md text-white py-5 px-6 bg-primary"
  >
    Get Cat Facts
  </button>
</header>

<div class="flex justify-between align-middle p-4">
  <a
    routerLink="/page2"
    class="border w-auto mt-5 border-primary justify-center rounded-md text-md font-medium items-center py-5 px-10 text-primary hover:text-white hover:bg-primary"
    >Go to Page 2</a
  >
  <div>
    <button
      (click)="orderBy()"
      class="border w-auto mt-5 border-primary justify-center rounded-md text-md font-medium items-center py-5 px-10 text-primary mr-6 hover:text-white hover:bg-primary"
    >
      Order by {{ isDescendingOrder ? "Ascending" : "Descending" }}
    </button>
    <input
      type="text"
      placeholder="Search"
      #filter
      class="border w-auto mt-5 border-primary justify-center rounded-l-md text-md font-medium items-center py-5 px-10 text-primary"
    />
    <button
      class="border w-auto mt-5 border-primary bg-primary justify-center rounded-r-md text-md font-medium items-center py-5 px-10 text-white hover:text-primary hover:bg-white"
      type="button"
      (click)="filterResults(filter.value)"
    >
      Search
    </button>
  </div>
</div>

<app-cat-facts-grid
  [catFacts]="catFactsFiltered || catFacts"
></app-cat-facts-grid>
