<ul class="grid grid-flow-row-dense grid-cols-3 grid-rows-3 gap-4">
  <li
    *ngFor="let fact of catFacts; trackBy: trackByFn"
    class="card-b p-8 relative rounded-3xl"
  >
    <div class="flex justify-center items-center">
      <img
        [src]="'assets/icons8-cat-' + (fact.catId - 6) + '.png'"
        alt="Cat Icon"
        class="self"
      />
    </div>

    <h3 class="text-2xl text-black font-semibold text-center mt-16">
      Fact {{ fact.catId - 5 }}
    </h3>
    <p class="text-lg font-normal text-black text-center text-opacity-50 mt-2">
      {{ fact.catFact }}
    </p>
  </li>
</ul>
